<h1> Réserver <%=  @activity.title%></h1>


  <%= simple_form_for [@activity, @booking] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :pricing, as: :radio_buttons, collection: @activity.pricings, label_method: lambda { |item| "#{item.description}, #{item.amount} euros" } %>
      <%= f.input :nb_persons, label: "Nombre de personnes:", collection: 0..@activity.capacity %>
    </div>

    <div class="form-actions">
      <%= f.submit "Valider réservation"%>
    </div>
  <% end %>

<%#
<div id="price"></div>

<script>
let price = document.getElementById("price")
let priceSelected = document.getElementByClassName("booking_pricing")
let pax = document.getElementById("price-selected")

document.addEventListener("click", (event) => {
  if (event.target === pax) {
    price.innerText = `${priceSelected.value * pax.value}`;
  }
});
</script>


