
<div class="container container-card">
  <div class="main-container">
    <div class="sub-container">
      <div class="main-content">
        <div class="row row-card">
          <% @activities.each do |activity| %>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path activity.photo.path%>');">
              </div>
              <div class="card-footer">
                <div class="footer-left col-xs-8">
                  <div class="title">
                    <p><%= link_to activity.title, activity_path(activity) %></p>
                  </div>
                  <div class="city">
                    <p><%= activity.city %></p>
                  </div>
                </div>
                <div class="footer-right col-xs-4">
                  <div class="price">
                    <p><%= activity.pricings[0].amount %>€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
      <div id="map-index"></div>
  </div>
  <!-- MAP -->
</div>
<!-- Gmaps js: building the map -->
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-index' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
