<div class="container">
  <div class="row">
    <h1>Inscrire mon activité</h1>
    <div class="col-xs-6 col-xs-offset-3">

      <%= simple_form_for @activity do |f| %>
      <div class="form-group">
      <%= f.error_notification %>
      <%= f.input :title, label: "Nom de votre activité", placeholder: "Coolos"%>
      <%= f.input :description, as: :text, label: "Description"%>
      <%= f.input :category, collection: Activity::CATEGORIES, label: "Catégorie" %>
      <%= f.input :capacity,  label: "Capacité", class: "form-control" %>
      <%= f.input :address, label: "Adresse" %>
      <%= f.input :city, label: "Ville" %>
      <%= f.input :zip_code, label: "Département" %>
      <%= f.file_field :photo %>
      <%= f.submit "Créer mon activité", class: 'btn btn-primary text-center'%>
      <% end %>
    </div>
  </div>
</div>
