<!-- modal pour faire la réservation -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Réserver <%=  @activity.title%></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@activity, @booking] do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :nb_persons, label: "Nombre de personnes:", collection: 0..@activity.capacity %>
            <div id='resa'>
              <%= f.association :pricing, as: :radio_buttons, collection: @activity.pricings, label: false, label_method: lambda { |item| "#{item.description}, #{item.amount} euros"}, id_method: lambda { |item| item.amount }%>
            </div>
            <div class="price_resa">
              <p><strong>Prix total:</strong></p>
              <p id="t_price"></p>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Valider réservation", class: 'btn btn-primary text-center'%>
          </div>

        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Script changement prix -->
<script>
  const t_price = document.getElementById('t_price');
  const t_price_p = document.getElementById('t_price_p');
  const resa = document.getElementById("resa");
  const persons = document.getElementById("booking_nb_persons");

  resa.addEventListener('click', (event) => {
    v = event.target.id;
    p = persons.value;
    price = v * p;
    t_price.innerText = ` ${price} €`;
    t_price_p.value = price;
  });
</script>

<!-- Script date picker -->

<% content_for(:after_js) do %>
<script>
  $( document ).ready(function() {
    $('.datepicker').datepicker({
      format: 'mm/dd/yyyy',
      startDate: '-3d'
      });
  });

</script>
<% end %>
