<div class="container">
<h2><%= @activity.title %></h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <% if @activity.photo? %>
      <%= cl_image_tag @activity.photo.path, width: 600, height: 300, crop: :fill %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <h2>Prix moyen</h2>
      <p><%= @activity.pricings.first.amount %> euros</p>
      <p><%=  @activity.category%></p>
      <p>
        <%= @activity.is_outdoor ? "outdoor" : "indoor" %>
      </p>
      <div class="btn btn-primary">
        <%= link_to "Réserver", new_activity_booking_path(@activity) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <p><%= @activity.description %></p>
    </div>
    <div class="col-xs-4">
      <div id="map" style="height: 300px"></div>
    </div>
  </div>

  <!-- Button trigger modal -->


