<div class="container">
  <div class="row">
    <div class="title-activity">
      <h2><%= @activity.title %></h2>
    </div>
    <div class="main-bloc">
      <!-- titre -->
      <!-- photo -->
      <div class="photos col-md-6">
        <% if @activity.photo? %>
        <%= cl_image_tag @activity.photo.path, height: 320, crop: :fill%>
        <% end %>
      </div>
      <div class="price-block col-md-6">
      <div class="price-details col-md-6 col-md-offset-4">
      <div class="price-title">
        <h2>Prix moyen</h2>
      </div>
        <li><%= @activity.pricings.first.amount %> euros</li>
        <li><%=  @activity.category%></li>
        <li>
          <%= @activity.is_outdoor ? "outdoor" : "indoor" %>
        </li>
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Réserver
      </button>
      </div>
        <!-- price -->
      </div>
    </div>
    <div class="second-bloc">
      <!-- description -->
      <div class="description col-md-8">
        <p><%= @activity.description %></p>
      </div>
      <div class="col-md-4">
        <div id="map-show" style="height: 300px"></div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/resa_form' %>

<!-- MAP -->
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map-show' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
<!-- Button trigger modal -->
