<div class="container">
  <div class="row">
    <div class="title-activity">
      <h2><%= @activity.title %></h2>
    </div>
    <!-- photo -->
    <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path @activity.photo.path%>');">
    </div>
    <div class="main-bloc">
      <div class="description col-md-6">
        <p><%= @activity.description %></p>
      </div>
      <div class="price-details col-xs-4 col-xs-offset-2">
        <div class="price-title">
          <h2>Prix moyen</h2>
        </div>
        <li> <strong>Prix :</strong> <%= @activity.pricings.first.amount %> euros</li>
        <li> <strong>Catégorie : </strong><%=  @activity.category%></li>
        <li>
          <%= @activity.is_outdoor ? "Extérieur" : "Intérieur" %>
        </li>
        <li> <strong>Cond. physique :</strong>  Sportif occasionnel</li>
        <button type="button" class="btn btn-primary" id="book" data-toggle="modal" data-target="#myModal">
        Réserver
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div id="map-show" style="height: 300px"></div>
  </div>
</div>
<%= render 'shared/resa_form' %>
<!-- MAP -->
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map-show' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
<!-- Button trigger modal -->
