<div class="container container-show">
  <div class="row">

    <!-- photo -->
    <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path @activity.photo.path%>');">
    </div>
        <div class="text-center title-activity">
      <h2><%= @activity.title %></h2>
    </div>
    <div class="main-bloc">
      <div class="description col-md-8">
      <h4 class = "description-title text-center"><strong>Description</strong></h4>
        <p><%= @activity.description %></p>
      </div>
      <div class="price-details col-xs-4">
        <div class="price-title">
          <h4><strong>Réservation</strong></h4>
        </div>
        <li> <strong>Prix :</strong> <%= @activity.pricings.first.amount %> euros  / personne</li>
        <li> <strong>Catégorie : </strong><%=  @activity.category%></li>
        <li>
          <%= @activity.is_outdoor ? "Extérieur" : "Intérieur" %>
        </li>
        <li> <strong>Cond. physique :</strong>  Sportif occasionnel</li>
        <button type="button" class="btn btn-primary" id="book" data-toggle="modal" data-target="#myModal">
        Réserver
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div id="map-show" style="height: 400px"></div>
  </div>
</div>
<%= render 'shared/resa_form' %>

<!-- MAP -->
<% content_for(:after_js) do %>
<script>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map-show' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
</script>
<script>
  let t_price = document.getElementById('t_price');
  let t_price_p = document.getElementsByName('booking[price]')[0];
  let resa = document.getElementById("resa");
  let persons = document.getElementById("booking_nb_persons");
  resa.addEventListener('click', (event) => {
    const v = parseInt(event.target.innerText.match(/\d+/), 10);
    if (isNaN(v) === false) {
      let p = persons.value;
      let price = v * p;
      t_price.innerText = `${price} €`;
      t_price_p.value = price;
      let button = document.getElementsByClassName('hidebutton')[0];
      button.classList.remove('hidebutton');
      console.log(button);
    };
  });

$('.datepicker').datepicker( {
  format: 'dd/mm/yyyy',
  startDate: '-3d',
  language: 'fr'
});

</script>

<% end %>
<!-- Button trigger modal -->
